body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header{
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav a{
color: #fff;
margin: 0 10px;
text-decoration: none;
}

section{
padding: 40px 20px;
border-bottom: 1px solic #ccc;
}

footer{
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}